{% extends 'base.html' %}
{% load static %}
{% block title %} Visa Etude {% endblock %}

{% block content %}

<div id="content" class="site-content center-relative">

    <div class="devhead">
        <div class="container">
            <div class="row align-items-center">
    
                <div class="col-lg-6">
                    <img class="img img-product" style="width: 100%;height: 100%"
    
                         src="{% static 'images/visa-etude.jpg' %}" alt=""/>
                
                
                         <div class="button-holder text-center px-4" style="display: flex; justify-content: center;">
                            <a href="{% url 'visa_etude' %}" class="button" style="background-color: rgb(110, 69, 92)">PROCESSUS VISA ETUDE</a>
                        </div>
                </div>
    
                <div class="col-lg-6">
                    <!-- devhead text and app badges-->
                    <div class="mb-5 mb-lg-0 text-center text-lg-start" style="margin-top: 125px">
                        <h5 class="member-name"
                            style="float: left; font-size: 50px">VISA ETUDE</h5><br>
                        <p class="fw-normal mb-5" style="float: left;text-align: justify">
                            Le Canada est réputé pour la qualité de son système éducatif et est actuellement le pays le plus sollicité par les étudiants désireux d’aller acquérir des connaissances hors de leur pays d’origine. <br> <br>
                             Le Canada offre aux étudiants un cadre de vie idéal pour leur épanouissement académique et extra académique. <br>
                              Au Canada vous avez le choix d’étudier en anglais ou en français, profitez-en. <br>

                            Cependant, force est de constater que le coût des études est assez élevé pour les étudiants internationaux. <br>
                             Bien évidemment l’étudiant qui s’aventure à faire une demande d’admission dans n’importe quel établissement d’enseignement s’expose au risque d’être surpris par le coût des études.  <br>
                              En effet un projet d’étude nécessite un calcul et une préparation claire au regard des moyens financiers dont dispose l’étudiant.  <br>
                               Notre compagnie est là pour vous aider dans ce sens. <br>

                            Les frais de scolarité dans la plupart des établissements au Canada varient entre 15 000 dollars canadiens et 20 000 dollars canadiens (environ 9 millions de franc CFA). <br>  
                             Cependant il est possible de trouver des écoles où les frais sont moins couteux ainsi que des établissements, des organisations privées ou gouvernementales qui offrent des bourses totales ou partielles. <br>
                              Les exemptions de frais de scolarité sont aussi possibles.  <br> 
                              Il est donc important de savoir faire la recherche afin de trouver l’établissement scolaire qui va avec votre portefeuille. <br>

                            Cependant le seul défi n’est pas de trouver un établissement aux frais de scolarité abordable. <br>
                             Il faut ensuite se rassurer que cet établissement est reconnu par citoyenneté et immigration canada. <br>
                              Si l’établissement n’est pas crédible, votre demande de permis d’étude et de visa dans la catégorie étudiant sera automatiquement rejetée. <br>
                               De plus le choix de votre programme d’étude doit être stratégique, en cohérence avec un certain nombre d’éléments qui influeront surement sur vos chances d’obtention de visa pour le Canada. <br>

                            La procédure de demande de visa dans la catégorie étudiant est apparemment simple mais assez délicate. <br>
                             Le nombre de demande de visa a explosé ces dernières années et l’agent de visa ne retient que les dossiers qu’il juge être de qualité. <br>
                            Contrairement aux idées reçues, le dépôt d’une caution n’est pas obligatoire. <br> L’étudiant qui décide de bloquer une somme d’argent dans un compte bancaire dans son pays d’origine ou au Canada pour appuyer son dossier le fait a ses risques et périls. <br> Il est vrai que selon le cas nous pouvons fortement conseiller à un étudiant de le faire. <br>    Chaque cas est un cas à étudier selon les éléments du dossier. <br>

                            Nous pouvons aussi nous charger de renouveler les documents (permis d’étude, permis de travail, CAQ) d’étudiants se trouvant déjà sur le territoire canadien lorsque ces documents sont expirés. <br>
                             Il n’est pas rare que les demandes soient refusées et que l’étudiant perde son droit de rester au Canada. <br> 
                              La connaissance des lois et des règlements sont souvent à l’origine de ces cas. <br>
                            Notre compagnie travaille avec professionnalisme pour augmenter vos chances d’avoir votre permis d’étude.  <br>
                             La décision d’accorder un permis d’étude ou un visa relève de la seule discrétion de l’agent d’immigration de citoyenneté et immigration canada. <br>  
                              Aucun visa au monde n’est garanti. Seuls les arnaqueurs peuvent vous garantir l’obtention d’un visa. <br>
                        </p>
                        
                    </div>
                </div>   
            </div>
        </div>
    </div>
    
    </div> 


{% endblock %}