{% extends 'base.html' %}
{% load static %}
{% block title %} Visa Asile {% endblock %}

{% block content %}

<div id="content" class="site-content center-relative">

    <div class="devhead">
        <div class="container">
            <div class="row align-items-center">
    
                <div class="col-lg-6">
                    <img class="img img-product" style="width: 100%;height: 100%;margin-top: 200px"
    
                         src="{% static 'images/visa-asile.jpg' %}" alt=""/>
                
                
                         <div class="button-holder text-center px-4" style="display: flex; justify-content: center;">
                            <a href="{% url 'visa_asile' %}" class="button" style="background-color: rgb(110, 69, 92)">PROCESSUS VISA ASILE</a>
                        </div>
                </div>
    
                <div class="col-lg-6">
                    <!-- devhead text and app badges-->
                    <div class="mb-5 mb-lg-0 text-center text-lg-start" style="margin-top: 125px">
                        <h5 class="member-name"
                            style="float: left; font-size: 50px">VISA ASILE</h5><br>
                        <p class="fw-normal mb-5" style="float: left;text-align: justify">
                            Si vous êtes au Canada et avez besoin de protection, contactez-nous afin que nous vous aidions dans vos démarches de demande d’asile. <br><br>
 

                            La solidarité internationale et le respect des conventions internationales relatives à la protection des refugiés sont les fondements d’une nation qui se veut moderne et le Canada l’a bien compris. <br>  
                             Fidèle a sa réputation de terre d’accueil, le Canada reçoit un nombre impressionnant de réfugiés chaque année. <br>
                             Le nombre de demandes d’asile est de plus en plus croissant. <br><br>  
                            Les refugiés sont des personnes qui ont quitté involontairement leur pays par crainte de persécution pour de multiples raisons. <br>

                            Le programme canadien de protection des refugiés comporte deux volets : <br>

                            LE PROGRAMME DE REINSTALLATION DES REFUGIES ET DES PERSONNES PROTEGEÉS à titre humanitaire qui vise les individus qui se trouvent à l’extérieur du Canada. <br>
                             Suite à une procédure pouvant impliquer les citoyens canadiens, les organismes d’aide aux refugiés et l’état canadien, ces refugiés finissent par s’installer au Canada. <br>
                              Le haut commissariat des nations unies pour les refugiés(HCR) joue un rôle capital dans le processus. <br>
                               LE PROGRAMME D’OCTROI DE L’ASILE AU CANADA. <br>
                                Les personnes de cette catégorie doivent être physiquement au Canada afin de faire leur demande d’asile.  <br>
                                 Le processus d’octroi de l’asile est fort différent du premier.  <br>
                                 Ces personnes arrivent au Canada sous des prétextes divers et ne peuvent retourner dans leur pays de peur d’être persécutées, craignent pour leur vie( a supprimer ) , d’être torturées ou d’être victimes de traitement cruel. <br>
                            L’asile est octroyé par la commission de l’immigration et du statut des refugiés ou par le ministre de l’immigration suite a un examen de risque avant renvoi.  <br>     Tous les demandeurs d’asile n’obtiennent pas le statut de personnes protégées. <br>    
                            Le processus de demande d’asile est assez complexe. <br> Le candidat doit s’assurer de dire la vérité et s’assurer d’avoir à ses cotés l’expertise nécessaire à la conduite de la procédure. <br>    Notre consultant par son background est un appui efficace qui pourra vous accompagner de façon professionnelle du début à la fin de la demande d’asile. <br>

                            Il est à noter que dès le dépôt de votre demande, vous avez droit a une multitude d’avantages parmi lesquelles; <br> le droit de poursuivre vos études, une aide financière, un hébergement, des cours de langue au besoin et une assurance maladie. <br>
                            Lorsque l’asile vous est accordé vous continuez à bénéficier de nombreux avantages. <br> Vous obtenez par la suite votre résidence permanente au Canada ainsi que votre nationalité canadienne une fois les conditions remplies. <br>
                            ALORS SI VOUS ETES AU CANADA ET AVEZ BESOIN DE PROTECTION, CONTACTEZ NOUS AFIN QUE NOUS VOUS AIDIONS DANS VOS DEMARCHES. <br> <br>
                        </p>
                        
                    </div>
                </div>   
            </div>
        </div>
    </div>
    
    </div> 


{% endblock %}